main.concept-page {
  max-width: 1000px;
  margin: 20px auto;
  padding: 5px;
  background: linear-gradient(145deg, #ffffff, #f0f4f8);
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  line-height: 1.9;
  color: #333;
}


main.concept-page h2, main.concept-page h3 {
  text-align: center;
  color: #2c3e50;
  border-bottom: 2px solid #d8e8ec;
  padding-bottom: 0.3em;
  margin-top: 1.5em;
  margin-bottom: 1.2em;
  font-family: 'Kaisei HarunoUmi', serif;
}

main.concept-page p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  line-height: 2;
  color: #444;
  text-align: center;
  font-weight: bold;
}

main.concept-page a {
  display: inline-block;
  margin-top: 30px;
  text-decoration: none;
  color: #0066cc;
  font-weight: bold;
  font-size: 1.1rem;
}

main.concept-page a:hover {
  text-decoration: underline;
  color: #004b99;
}


/* 赤字強調用 */
.highlight-red {
  color: #d90000;
  font-weight: bold;
}


.section-title {
  background-color: #fffde7; 
  padding: 0rem;
  border-left: 6px solid #007bff; /* 青いラインでアクセント */
  margin-top: 2rem;
  font-size: 1.6rem;
  text-align: center;
  border-radius: 4px;
}

@media screen and (max-width: 768px) and (orientation: portrait) {

  main.concept-page h2, main.concept-page h3 {
    font-size: 1rem;
    padding: 0.8rem;
  }

  main.concept-page p {
   font-size: 0.8rem;
   line-height: 1.6;
  }

  main.concept-page a {
    display: inline-block;
     font-size: 0.8rem;
     line-height: 1.6;
  }





}
