h1, h2 {
  font-family: 'Kaisei HarunoUmi', serif;
}


body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
  text-align: center;
}

header {
  background-color: #0077cc;
  color: white;
  padding: 10px 0;
  font-size: 24px;
}

main {
  width: 90%;
  max-width: 600px;
  margin: 20px auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  margin-bottom: 10px;
}

.confirm-item {
  text-align: left;
  margin-bottom: 20px;
}

.confirm-item label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
  color: #555;
}

.confirm-item p {
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
  white-space: pre-wrap;
  word-break: break-word;
}

button {
  background-color: #0077cc;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background-color: #005fa3;
}
