h1, h2 {
  font-family: 'Kaisei HarunoUmi', serif;
}


.container {
  display: flex;
  justify-content: center;  /* 中央揃え */
  max-width: 1200px;
  margin: 0 auto;
}

#sidebar {
  width: 200px;
  padding: 20px;
  background-color: #f0f0f0;
}

#sidebar-right {
  width: 150px;
  padding: 20px;
  background-color: #eef4f8;
  text-align: center;
  border-left: 1px solid #ccc;
}

.admin-image {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

.contact-link {
  font-weight: bold;
  color: #0077cc;
  text-decoration: none;
}

.contact-link:hover {
  text-decoration: underline;
}



main {
  flex: 1;
  padding: 20px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;

}

.story {
  background: white;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

h2 {
  margin: 0;
}

.likes {
  font-weight: bold;
  color: red;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  margin-top: 5px;
  cursor: pointer;
  border-radius: 3px;
}

button:hover {
  background-color: #0056b3;
}

/* ページネーション */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  background: white;
  padding: 10px 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.pagination button {
  padding: 10px 15px;
  font-size: 16px;
  margin: 0 10px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background 0.3s;
}

.pagination button:hover {
  background-color: #0056b3;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* スマホ用作者セレクト（初期は非表示） */
#author-select-container {
  display: none;
  text-align: center;
  margin: 20px auto;
}

/* モバイル対応 */
@media screen and (max-width: 768px) {
  #author-select-container {
    display: block;
  }

  #sidebar {
    display: none;
  }
  
  #sidebar-right {
    display: none;
  }
}
